<div>
        <ul>
            <li id="noti_Container">
                <div id="noti_Counter"></div>   
                
                <div id="noti_Button"><%= image_tag 'notification.png' %></div>    

                <div id="notifications">
                    <h3>Notifications</h3>
                    <div style="height:300px;">

                    <% if @notifications.blank? %>
                    no notifications yet
                    <% else %>
                    <% @notifications.each do |notification| %>
                        <p><%= notification.notification.body %></p>
                        <% end %> 
                    <% end %>

                    </div>
                </div>
            </li>
        </ul>
    </div>	
	
<script>
$(document).ready(function(){
    pusher = new Pusher('ca9e35c50a6cc67c009f', {
        cluster: 'eu',
        encrypted: true
        })
        var id = "<%=    current_student.id  %>"
        var notificationsChannel = pusher.subscribe('notifications-'+ id);
        notificationsChannel.bind('new_notification', function(notification){
                console.log(notification)
                    var notif = notification.body;
                    var countNotifications = parseInt($('#noti_Counter').text())
                    if(countNotifications){
                        countNotifications += 1
                        $('#noti_Counter').text(countNotifications)
                    }
                    else{
                        $('#noti_Counter').text(1)
                    }
                        $("#notifications div").append(notif)
            });
        
    
    $('#noti_Counter')
        .css({ opacity: 0 })
        .text("<%= @count_of_notifications %>") 
        .css({ top: '-10px' })
        .animate({ top: '-2px', opacity: 1 }, 500);

    $('#noti_Button').click(function () {
        $('#notifications').fadeToggle('fast', 'linear', function () {
            if ($('#notifications').is(':hidden')) {
                $('#noti_Button').css('background-color', '#2E467C');
            }
 
            else $('#noti_Button').css('background-color', '#FFF');
        });

        

        $('#noti_Counter').fadeOut('slow');     
        return false;
    });

   
    $(document).click(function () {
        $('#notifications').hide();

        if ($('#noti_Counter').is(':hidden')) {
          
            $('#noti_Button').css('background-color', '#2E467C');
        }
    });

    $('#notifications').click(function () {
        return false;       
    });


        
        
        
});

    </script>