<strong> choose track </strong>
<form accept-charset="UTF-8" action="coursestafftracks/1/beforenew" method="post"> 
<select name="track_id">
  <% @arrayoftracks.each_with_index do |instructor, index| %>
      <option value="<%= @arrayoftracks[index] %>"><%= @arrayoftracksnames[index] %></option>
      <% end %>
  </select>

<br/>
<br/>
<input type=submit value=Next />
</form>
